<section class="page-width page-template">
  <h1 class="product-title">Account</h1>
  <p class="lead">Benvenuto {{ customer.first_name }}.</p>
  <a class="btn btn-secondary" href="{{ routes.account_logout_url }}">Esci</a>
</section>
